<div id="about">
  <p class="lead">MCT Logistics Inc. is a full service logistics company servicing the continental forty-eight states. We have the capability to move all kinds of loads including van, flatbed, specialized, and expedited freight.</p>

  <p class="lead">We have been in business for three years and have a great reputation as a service oriented company. We thrive on giving the service other company’s can’t give.</p>

  <p class="lead" id="mct">Mike Clark Transportation is the capital-based trucking company partnered with MCT Logistics with capability to drop trailers at your customer’s facility.</p>
</div>