// Core variables and mixins
@import "variables.less";
@import "mixins.less";


@navbar-default-link-color: rgb(10, 67, 137);
@the-grey: rgb(228, 228, 228);

@navbar-default-link-active-bg: @navbar-default-link-color;
@navbar-default-link-hover-bg:@navbar-default-link-color;
@navbar-default-link-hover-color: white;
@navbar-default-link-active-color: white;
// Reset and dependencies
@import "normalize.less";
@import "print.less";
@import "glyphicons.less";

// Core CSS
@import "scaffolding.less";
@import "type.less";
@import "code.less";
@import "grid.less";
@import "tables.less";
@import "forms.less";
@import "buttons.less";

// Components
@import "component-animations.less";
@import "dropdowns.less";
@import "button-groups.less";
@import "input-groups.less";
@import "navs.less";
@import "navbar.less";
@import "breadcrumbs.less";
@import "pagination.less";
@import "pager.less";
@import "labels.less";
@import "badges.less";
@import "jumbotron.less";
@import "thumbnails.less";
@import "alerts.less";
@import "progress-bars.less";
@import "media.less";
@import "list-group.less";
@import "panels.less";
@import "responsive-embed.less";
@import "wells.less";
@import "close.less";

// Components w/ JavaScript
@import "modals.less";
@import "tooltip.less";
@import "popovers.less";


// Utility classes
@import "utilities.less";
@import "responsive-utilities.less";




@import 'parts/carousel';
@import 'parts/layout';
@import 'parts/map';
@import 'parts/navbar';

.container{
    max-width: 800px;
}

.space-a{
	//height: 100%;
	background-image: url('/img/boxes.jpg');
	background-size:cover;
	color: white;
	min-height: 100vh;
}

#mct{
	background: rgba(0,0,0,0.3);
}

.space-a1{
	min-height: 100vh;
}

.space-foot{
	background-color: black;
	color: grey;
	height: 50px;
}